<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title><ui:insert name="title">Meet friends :: Group5</ui:insert></title>
	<h:outputStylesheet name="normalize.css" library="css" />
	<h:outputStylesheet name="main.css" library="css" />
	<h:outputStylesheet name="simplegrid.css" library="css" />
	<h:outputScript name="vendor/jquery-1.10.2.min.js" library="js" />
	<h:outputScript name="vendor/modernizr-2.6.2.min.js" library="js" />
	<h:outputScript name="plugins.js" library="js" />
	<h:outputScript name="main.js" library="js" />
</h:head>

<body>

	<div class="grid clearfix" id="main-body">
		<div id="header" class="grid">
			<ui:insert name="header">
				<ui:include src="header.xhtml" />
			</ui:insert>
		</div>

		<div id="nav" class="col-1-1">
			<ui:insert name="nav">
				<ui:include src="nav.xhtml" />
			</ui:insert>
		</div>

		<ui:insert name="messages">
			<ui:include src="messages.xhtml" />
		</ui:insert>

		<div id="content" class="col-1-1">
			<ui:insert name="content">
			</ui:insert>
		</div>
	</div>
	
	<div class="grid clearfix t-center" id="copyright">Group5 &copy; 2014</div>
</body>

</html>
