<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:body>
	<ui:composition>
		<h:messages  errorClass="error" warnClass="warning" infoClass="info"
			showSummary="false" showDetail="true" globalOnly="true"
			styleClass="clear col-1-1 messages sized" />
	</ui:composition>
</h:body>
</html>