<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:body>
	<ui:composition>
		<ul>
			<li><h:link value="Home" outcome="index"
					rendered="#{!securityBean.isAdmin}" /> <h:link
					value="Administration" outcome="admin"
					rendered="#{securityBean.isAdmin}" /></li>
			<li><h:link value="Settings" outcome="settings"
					rendered="#{!securityBean.isAdmin}" /></li>
			<li><h:link value="Login" outcome="login"
					rendered="#{!securityBean.isLoggedIn}" /> <h:link value="Logout"
					outcome="logout" rendered="#{securityBean.isLoggedIn}" /></li>
		</ul>
	</ui:composition>
</h:body>
</html>