<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
</head>
<h:body>
	<ui:composition template="/templates/layout.xhtml">
		<ui:define name="content">
			<f:event listener="#{securityBean.isAdmin}" type="preRenderView" />
			<h3>Viewing all users</h3>
			<h:dataTable value="#{adminBean.users}" var="i"
				styleClass="clear col-2-12 simple" columnClasses="tight,,,tight">
				<h:column>
					<f:facet name="header">Name</f:facet>
				#{i.display_name} #{i.first_name} #{i.last_name}
				</h:column>
				<h:column>
					<h:form>
						<h:commandButton value="View profile" action="profile">
							<f:param name="name" value="#{i.display_name}" />
						</h:commandButton>
					</h:form>
				</h:column>
			</h:dataTable>
			<h:form styleClass="clear">
				<h:commandButton value="Create new user" action="createUser">
				</h:commandButton>
			</h:form>
		</ui:define>
	</ui:composition>
</h:body>
</html>