<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:body>
	<ui:composition template="/templates/layout.xhtml">
		<ui:define name="content">
			<f:event listener="#{securityBean.loggedIn}" type="preRenderView" />

			<div class="col-1-2 fl-none" style="margin: 0 auto;">
				<h1 class="fill line-through t-center">
					<span>Change password</span>
				</h1>
				<h:form styleClass="col-1-1">
					<h:panelGrid columns="2" styleClass="col-1-1">

						<h:outputLabel value="User e-mail:" />
						<h:outputLabel value="#{settingsBean.user.user_email}" />
						
						<!-- Change password -->
						<h:outputLabel value="Old password" />
						<h:panelGroup styleClass="input-group" layout="block">
							<h:inputSecret id="oldpassword" value="#{changePassBean.oldPassword}"
								label="Old password" styleClass="fill sized">
								<f:validator validatorId="com.PasswordValidator" />
							</h:inputSecret>
							<h:message for="oldpassword" styleClass="err" />
						</h:panelGroup>
	
						<h:outputLabel value="New Password*" />
						<h:panelGroup styleClass="input-group" layout="block">
							<h:inputSecret id="newpassword" value="#{changePassBean.newPassword}"
								label="Password" styleClass="fill sized">
								<f:validator validatorId="com.PasswordValidator" />
							</h:inputSecret>
							<h:message for="newpassword" styleClass="err" />
							<ul class="info no-style t-small-3">
								<ui:repeat var="item" value="#{registerBean.pswComplexity}">
									<li>#{item}</li>
								</ui:repeat>
							</ul>
						</h:panelGroup>

						<h:outputLabel value="Repeat new password*" />
						<h:inputSecret value="#{changePassBean.repeatNewPassword}"
							label="Repeat password" styleClass="fill sized" />

						<!-- Submit -->
						<h:column />
						<h:commandButton value="Submit" action="#{changePassBean.update}"
							styleClass="fill" />

						<h:column />
						<h:outputText value="* Required fields" style="color:red"
							styleClass="t-small-3" />
					</h:panelGrid>
				</h:form>
			</div>
		</ui:define>
	</ui:composition>
</h:body>
</html>