<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core">
<h:body>
	<ui:composition template="/templates/layout.xhtml">
		<ui:define name="content">
			<f:event listener="#{securityBean.isAdmin}" type="preRenderView" />
			<div id="login" class="col-4-12 clearfix">
				<h1 class="line-through fill t-center">
					<span>Create a new user</span>
				</h1>
				<h:form>
					<h:panelGrid columns="2" styleClass="fill">

						<h:outputLabel value="Prefix" />
						<h:selectOneMenu value="#{createUserBean.prefix}">
							<f:selectItems value="#{createUserBean.prefixes}" />
						</h:selectOneMenu>

						<h:outputLabel value="First Name*" />
						<h:panelGroup styleClass="input-group" layout="block">
							<h:inputText id="first-name" value="#{createUserBean.firstName}"
								styleClass="fill sized" maxlength="50">
								<f:validator for="first-name"
									validatorId="com.FirstNameValidator" />
							</h:inputText>
							<h:message for="first-name" styleClass="err" />
						</h:panelGroup>

						<h:outputLabel value="Last Name" />
						<h:panelGroup styleClass="input-group" layout="block">
							<h:inputText id="last-name" value="#{createUserBean.lastName}"
								styleClass="fill sized" maxlength="50">
								<f:validator for="last-name" validatorId="com.LastNameValidator" />
							</h:inputText>
							<h:message for="last-name" styleClass="err" />
						</h:panelGroup>

						<h:outputLabel value="Address" />
						<h:panelGroup styleClass="input-group" layout="block">
							<h:inputText id="address" value="#{createUserBean.address}"
								styleClass="fill sized" maxlength="255">
								<f:validator for="address" validatorId="com.AddressValidator" />
							</h:inputText>
							<h:message for="address" styleClass="err" />
						</h:panelGroup>

						<h:panelGroup layout="block" style="height: 20px;" />
						<h:column />

						<h:outputLabel value="Display name*" />
						<h:panelGroup styleClass="input-group" layout="block">
							<h:inputText id="display-name"
								value="#{createUserBean.displayName}" label="Display Name"
								styleClass="fill sized" maxlength="50">
								<f:validator validatorId="com.DisplayNameValidator" />
							</h:inputText>
							<h:message for="display-name" styleClass="err" />
							<ul class="info no-style t-small-3">
								<ui:repeat var="item" value="#{createUserBean.dnComplexity}">
									<li>#{item}</li>
								</ui:repeat>
							</ul>
						</h:panelGroup>

						<h:outputLabel value="Email*" />
						<h:panelGroup styleClass="input-group" layout="block">
							<h:inputText id="username" value="#{createUserBean.username}"
								label="Username" styleClass="fill sized">
								<f:validator validatorId="com.UsernameValidator" />
							</h:inputText>
							<h:message for="username" styleClass="err" />
							<ul class="info no-style t-small-3">
								<ui:repeat var="item" value="#{createUserBean.usrComplexity}">
									<li>#{item}</li>
								</ui:repeat>
							</ul>
						</h:panelGroup>

						<h:outputLabel value="Password*" />
						<h:panelGroup styleClass="input-group" layout="block">
							<h:inputText id="password" value="#{createUserBean.password}"
								label="Password" styleClass="fill sized">
							</h:inputText>
							<h:message for="password" styleClass="err" />
							<ul class="info no-style t-small-3">
								<li>#{item}</li>
								<ui:repeat var="item">
								</ui:repeat>
							</ul>
						</h:panelGroup>

						<h:outputLabel value="Role" />
						<h:selectOneMenu value="#{createUserBean.role}">
							<f:selectItems value="#{createUserBean.roles}" />
						</h:selectOneMenu>

						<h:column />
						<h:commandButton value="Submit"
							action="#{createUserBean.createUser}" styleClass="fill sized" />

						<h:column />
						<h:outputText value="* Required fields" style="color:red"
							styleClass="t-small-3" />
					</h:panelGrid>
				</h:form>
			</div>
		</ui:define>
	</ui:composition>
</h:body>
</html>