<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:body>
	<ui:composition template="/templates/layout.xhtml">
		<ui:define name="content">
			<f:event listener="#{accountBean.showCreatedPage}"
				type="preRenderView" />
			<div class="col-8-12 center">
				<h1 class="fill t-center line-through no-btm-m">
					<span>Success!</span>
				</h1>
				<h3 class="fill t-center no-top-m normal">
					<i>Account has been created</i>
				</h3>
				<p>An activation code has been sent. Please check your email and
					active your account.</p>
			</div>
		</ui:define>
	</ui:composition>
</h:body>
</html>