<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:body>
	<ui:composition template="/templates/layout.xhtml">
		<ui:define name="content">
			<f:event listener="#{securityBean.loggedIn}" type="preRenderView" />
			<h1 class="line-through t-center fill no-btm-m">
				<span>Find more Friends!</span>
			</h1>
			<h3 class="fill t-center no-top-m normal">
				<i>Checkout our other users</i>
			</h3>
			<h:form style="margin-bottom: 10px;">
				<h:column>
					<h:inputText id="search" value="#{findFriendsBean.displayName}"
						maxlength="20">
					</h:inputText>
				</h:column>
				<h:column>
					<h:commandButton value="Search" action="#{findFriendsBean.doSearch}"
						styleClass="small inline" style="margin-left: 5px;" />
				</h:column>
			</h:form>
			<h:panelGroup layout="block"
				rendered="#{!findFriendsBean.isAnyNonFriends}" styleClass="clear">
				<i>No users that are not your friends found!</i>
			</h:panelGroup>
			
			<h:dataTable value="#{findFriendsBean.nonFriends}" var="i"
				rendered="#{findFriendsBean.isAnyNonFriends}"
				styleClass="clear col-1-1 simple" columnClasses="tight,,,tight">
				<h:column>
					<f:facet name="header">Name</f:facet>
					<h:link outcome="profile">#{i.display_name}
							<f:param name="name" value="#{i.display_name}" />
					</h:link>
				</h:column>
				<h:column>
					<f:facet name="header">About</f:facet>#{i.about}</h:column>
				<h:column>
					<f:facet name="header">Hobbies</f:facet>#{i.hobbies}</h:column>
				<h:column>
					<h:form>
						<h:commandButton value="Mark as Friend"
							action="#{findFriendsBean.addFriend}" styleClass="small">
							<f:param name="userId" value="#{i.id}" />
							<f:param name="search" value="#{findFriendsBean.search}" />
						</h:commandButton>
					</h:form>
				</h:column>
			</h:dataTable>

			<div class="clear fl-left fill" style="margin-top: 30px;">
				<h3 class="fill t-center line-through">
					<span>Check people using our affiliates websites</span>
				</h3>

				<div class="col-6-12">
					<table class="simple fl-left" style="width: 48%;" id="team-1">
						<thead>
							<tr>
								<th>Team 1</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>

					<table class="simple fl-right" id="team-2" style="width: 48%;">
						<thead>
							<tr>
								<th>Team 2</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
				</div>

				<div class="col-6-12" id="affiliate-user" style="display:none;">
					<table class="fill">
						<tbody>
							<tr>
								<td class="tight"><b>Nick:</b></td>
								<td id="nick"></td>
							</tr>
							<tr>
								<td class="tight"><b>Hobbies:</b></td>
								<td id="hobbies"></td>
							</tr>
							<tr>
								<td class="tight"><b>Relationships:</b></td>
								<td></td>
							</tr>
							<tr>
								<td colspan="2">
									<ul id="relationships" style="list-style-position: inside;">
									</ul>
								</td>
							</tr>
						</tbody>
					</table>
				</div>

				<script type="text/javascript">
					getUsers('team1');
					getUsers('team2');
				</script>
			</div>

			<h:link value="Go back to my friends" outcome="index"
				style="margin-top:20px;" styleClass="clear fl-left link-arrow-left" />
		</ui:define>
	</ui:composition>
</h:body>
</html>