<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:body>
	<ui:composition template="/templates/layout.xhtml">
		<ui:define name="content">
			<f:event listener="#{securityBean.loggedIn}" type="preRenderView" />
			
			<h:panelGroup rendered="#{romanceBean.hasDeclineRequest}" layout="block" styleClass="notice" >
				We are sorry, but your latest Romance request has been declined
				<h:form styleClass="inline" >
					<h:commandButton action="#{romanceBean.confirmDeclineNotice}" value="OK" styleClass="small">
						<f:param name="source" value="index" />
					</h:commandButton>
				</h:form>
			</h:panelGroup>
			
			<h:panelGroup rendered="#{hugBean.hasUncheckedHugs}" layout="block" styleClass="notice" >
				You have received hugs!
				<h:dataTable value="#{hugBean.uncheckedHugs}" var="i"
					styleClass="clear fill simple" columnClasses="tight,,tight">

					<h:column>
						<f:facet name="header">Name</f:facet>
						<h:link outcome="profile">#{i.display_name}
						<f:param name="name" value="#{i.display_name}" />
						</h:link>
					</h:column>

					<h:column>
						<f:facet name="header">About</f:facet>#{i.about}
					</h:column>
					
					<h:column>
						<h:form>
							<h:commandButton value="Close"
								action="#{hugBean.acceptHug}" styleClass="small">
								<f:param name="sender" value="#{i.id}" />
								<f:param name="source" value="index" />
							</h:commandButton>
						</h:form>
					</h:column>

				</h:dataTable>
			</h:panelGroup>

			<h1 class="fill normal t-center">
				Welcome back, <b>#{settingsBean.user.first_name}</b>!
			</h1>

			<div class="col-8-12">
				<!-- Status -->
				<h:panelGroup styleClass="fill">
					Your current status: 
					<h:panelGroup rendered="#{!romanceBean.hasRomance}">
						<b>Single</b>
						<br />
						<h:panelGroup rendered="#{!romanceBean.hasRomanceRequest}">
						Don't want to be single any more? Request one of your friends for Romance
						</h:panelGroup>
						<h:panelGroup rendered="#{romanceBean.hasRomanceRequest}">
						Pending Romance request with: <i>#{romanceBean.romance.display_name}</i>
						</h:panelGroup>
					</h:panelGroup>
					<h:panelGroup rendered="#{romanceBean.hasRomance}">
						<b>In relationship with <i>#{romanceBean.romance.display_name}</i></b>
					</h:panelGroup>
				</h:panelGroup>

				<!-- Romance Requests -->
				<h:panelGroup rendered="#{romanceBean.hasPendingRequest}">
					<h3 class="fill line-through t-center">
						<span>Pending Romance requests</span>
					</h3>
					<h:dataTable value="#{romanceBean.pendingRequests}" var="i"
						styleClass="clear fill simple" columnClasses="tight,,tight,tight">

						<h:column>
							<f:facet name="header">Name</f:facet>
							<h:link outcome="profile">#{i.display_name}
							<f:param name="name" value="#{i.display_name}" />
							</h:link>
						</h:column>

						<h:column>
							<f:facet name="header">About</f:facet>#{i.about}
						</h:column>
						
						<h:column>
							<h:form>
								<h:commandButton value="Decline"
									action="#{romanceBean.declineRequest}" styleClass="small">
									<f:param name="sender" value="#{i.id}" />
									<f:param name="source" value="index" />
								</h:commandButton>
							</h:form>
						</h:column>
						
						<h:column>
							<h:form>
								<h:commandButton value="Accept"
									action="#{romanceBean.acceptRequest}" styleClass="small">
									<f:param name="sender" value="#{i.id}" />
									<f:param name="source" value="index" />
								</h:commandButton>
							</h:form>
						</h:column>

					</h:dataTable>
				</h:panelGroup>

				<!-- Friends -->
				<h:panelGroup>
					<h3 class="fill line-through t-center">
						<span>My Friends</span>
					</h3>

					<h:panelGroup layout="block" rendered="#{!indexBean.isWithFriends}"
						styleClass="clear fill">
						<h3>You currently have no friends</h3>
					</h:panelGroup>

					<h:dataTable value="#{indexBean.friends}" var="i"
						rendered="#{indexBean.isWithFriends}"
						styleClass="clear fill simple" columnClasses="tight,,,tight">
						<h:column>
							<f:facet name="header">Name</f:facet>
							<h:link outcome="profile">#{i.display_name}
							<f:param name="name" value="#{i.display_name}" />
							</h:link>
						</h:column>
						<h:column>
							<f:facet name="header">About</f:facet>#{i.about}</h:column>
						<h:column>
							<f:facet name="header">Hobbies</f:facet>#{i.hobbies}</h:column>
						<h:column>
							<h:form>
								<h:commandButton value="Remove from friends"
									action="#{indexBean.removeFriend}" styleClass="small">
									<f:param name="userId" value="#{i.id}"></f:param>
								</h:commandButton>
							</h:form>
						</h:column>
					</h:dataTable>
				</h:panelGroup>
			</div>

			<div class="col-4-12">
				<h2 class="t-center fill">Not enough friends?</h2>
				<h:link value="Find more friends" outcome="findFriends"
					style="margin:0 auto;" styleClass="clear btn-grey" />
			</div>

		</ui:define>
	</ui:composition>
</h:body>
</html>