<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:body>
	<ui:composition template="/templates/layout.xhtml">
		<ui:define name="content">
			<f:event listener="#{securityBean.dontAllowLogged}"
				type="preRenderView" />
			<div id="login" class="col-4-12 clearfix">
				<h1 class="t-center line-through">
					<span>Hello again!</span>
				</h1>
				<h:form>
					<h:panelGrid columns="2" styleClass="fill">
						<h:outputLabel value="Username" />
						<h:inputText value="#{loginBean.username}" styleClass="fill sized" />
						<h:outputLabel value="Password" />
						<h:inputSecret value="#{loginBean.password}" id="password"
							styleClass="fill sized" />
						<h:column />
						<h:commandButton value="Submit" action="#{loginBean.login}"
							styleClass="right fill" />
					</h:panelGrid>
				</h:form>
				<p style="margin-top: 20px;" class="t-small-1">
					Don't have an account yet?
					<h:link value="Sign up" outcome="signup" />
				</p>
				<p style="margin-top: 20px;" class="t-small-1">
					<h:link value="I forgot my password" outcome="resetPassword" />
				</p>
			</div>
		</ui:define>
	</ui:composition>
</h:body>
</html>