<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

<f:event listener="#{securityBean.logout}" type="preRenderView" />

<h:body>
	<h1>An error occurred while logging out</h1>
	<h3>Refresh page to try again.</h3>
</h:body>

</html>