<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title>Access Denied!</title>
</h:head>
<h:body>
	<h:graphicImage alt="Smiley face" library="images"
		name="accessdenied.gif" />
</h:body>
</html>