<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:body>
	<ui:composition template="/templates/layout.xhtml">
		<ui:define name="content">
			<f:event listener="#{securityBean.loggedIn}" type="preRenderView" />

			<h:outputText rendered="#{!profileBean.targetExists}"
				value="User not found." />

			<h:panelGroup styleClass="col-1-3 center" layout="block">

				<h:panelGroup rendered="#{profileBean.targetExists}"
					styleClass="fill" layout="block">

					<h3 class="line-through normal t-center">
						<h:panelGroup
							rendered="#{profileBean.target.share_name || securityBean.isAdmin}">
							<span> #{profileBean.target.prefix}
								#{profileBean.target.first_name} #{profileBean.target.last_name}</span>
						</h:panelGroup>
						<h:panelGroup
							rendered="#{!profileBean.target.share_name and !securityBean.isAdmin}">
							<span> #{profileBean.target.display_name}</span>
						</h:panelGroup>
					</h3>

					<h:panelGrid columns="2" columnClasses="tight">
						<!-- Address -->
						<h:column
							rendered="#{profileBean.target.share_address || securityBean.isAdmin}">
							<b><i>Address:</i></b>
						</h:column>
						<h:column
							rendered="#{profileBean.target.share_address || securityBean.isAdmin}">#{profileBean.target.address}</h:column>

						<!-- Hobbies -->
						<h:column>
							<b><i>Hobbies:</i></b>
						</h:column>
						<h:column> #{profileBean.target.hobbies}</h:column>

						<!-- About -->
						<h:column>
							<b><i>About:</i></b>
						</h:column>
						<h:column> #{profileBean.target.about}</h:column>

					</h:panelGrid>
				</h:panelGroup>

				<!-- Request Romance -->
				<h:form
					rendered="#{!profileBean.isMyself and profileBean.isFriend and !romanceBean.isInRomance}"
					styleClass="fill" style="margin-top: 20px;">
					<h:commandButton value="Ask for Romance  &#10084;"
						action="#{romanceBean.requestRomance}" styleClass="fill">
						<f:param name="name" value="#{profileBean.displayName}" />
						<f:param name="source" value="profile" />
					</h:commandButton>
				</h:form>

				<!-- Give a hug -->
				<h:form rendered="#{!profileBean.isMyself}" styleClass="fill"
					style="margin-top: 20px;">
					<h:commandButton value="Give a hug!"
						action="#{hugBean.hugPerson}" styleClass="fill">
						<f:param name="name" value="#{profileBean.displayName}" />
					</h:commandButton>
				</h:form>

				<!-- Delete user -->
				<h:form rendered="#{securityBean.isAdmin}" styleClass="fill"
					style="margin-top: 20px;">
					<h:commandButton value="Delete user"
						action="#{adminBean.removeUser}">
						<f:param name="userId" value="#{profileBean.target.id}" />
					</h:commandButton>
				</h:form>

			</h:panelGroup>

		</ui:define>
	</ui:composition>
</h:body>
</html>