<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:body>
	<ui:composition template="/templates/layout.xhtml">
		<ui:define name="content">
			<f:event listener="#{resetPasswordBean.isActiveReset}"
				type="preRenderView" />
			<div id="login" class="col-5-12 clearfix">
				<h1 class="t-center line-through no-btm-m">
					<span>Password reset</span>
				</h1>
				<div class="fill t-center">Time to select a new password. Try
					not to forget it this time.</div>
				<h:form>
					<h:panelGrid columns="2" styleClass="fill">

						<h:outputLabel value="Enter you password." />
						<h:panelGroup styleClass="input-group" layout="block">
							<h:inputSecret id="password"
								value="#{resetPasswordBean.password}" label="Password"
								styleClass="fill sized">
								<f:validator validatorId="com.PasswordValidator" />
							</h:inputSecret>
							<h:message for="password" styleClass="err" />
							<ul class="info no-style t-small-3">
								<ui:repeat var="item" value="#{registerBean.pswComplexity}">
									<li>#{item}</li>
								</ui:repeat>
							</ul>
						</h:panelGroup>

						<h:outputLabel value="Do it again!" />
						<h:inputSecret value="#{resetPasswordBean.password2}"
							styleClass="fill sized" />

						<h:column />
						<h:commandButton value="Submit"
							action="#{resetPasswordBean.resetPassword}"
							styleClass="right fill">
							<f:param name ="email" value="#{resetPasswordBean.userEmail}"></f:param>
						</h:commandButton>

					</h:panelGrid>
				</h:form>
			</div>
		</ui:define>
	</ui:composition>
</h:body>
</html>