<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:body>
	<ui:composition template="/templates/layout.xhtml">
		<ui:define name="content">
			<f:event listener="#{securityBean.loggedIn}" type="preRenderView" />

			<div class="col-1-2 fl-none" style="margin: 0 auto;">
				<h1 class="fill line-through t-center">
					<span>Profile</span>
				</h1>
				<h:form styleClass="col-1-1">
					<h:panelGrid columns="2" styleClass="col-1-1">

						<!-- Prefix -->
						<h:outputLabel value="Prefix" />
						<h:selectOneMenu value="#{settingsBean.user.prefix}"
							valueChangeListener="#{settingsBean.prefixChanged}">
							<f:selectItems value="#{settingsBean.prefixes}" />
						</h:selectOneMenu>

						<!-- Display Name -->
						<h:outputLabel value="Display name*" />
						<h:panelGroup styleClass="input-group" layout="block">
							<h:inputText id="display_name"
								value="#{settingsBean.user.display_name}"
								valueChangeListener="#{settingsBean.display_nameChanged}"
								styleClass="fill sized" maxlength="50">
								<f:validator for="display_name"
									validatorId="com.DisplayNameValidator" />
							</h:inputText>
							<h:message for="display_name" styleClass="err" />
						</h:panelGroup>

						<!-- First Name -->
						<h:outputLabel value="First name*" />
						<h:panelGroup styleClass="input-group" layout="block">
							<h:inputText id="first-name"
								valueChangeListener="#{settingsBean.firstNameChanged}"
								value="#{settingsBean.user.first_name}" styleClass="fill sized"
								maxlength="50">
								<f:validator for="first-name"
									validatorId="com.FirstNameValidator" />
							</h:inputText>
							<h:message for="first-name" styleClass="err" />
						</h:panelGroup>

						<!-- Last Name -->
						<h:outputLabel value="Last name" />
						<h:panelGroup styleClass="input-group" layout="block">
							<h:inputText id="last-name"
								value="#{settingsBean.user.last_name}"
								valueChangeListener="#{settingsBean.lastNameChanged}"
								styleClass="fill sized" maxlength="50">
								<f:validator for="last-name" validatorId="com.LastNameValidator" />
							</h:inputText>
							<h:message for="last-name" styleClass="err" />
						</h:panelGroup>

						<!-- Address -->
						<h:outputLabel value="Address" />
						<h:panelGroup styleClass="input-group" layout="block">
							<h:inputText id="address" value="#{settingsBean.user.address}"
								valueChangeListener="#{settingsBean.addressChanged}"
								styleClass="fill sized" maxlength="255">
								<f:validator for="address" validatorId="com.AddressValidator" />
							</h:inputText>
							<h:message for="address" styleClass="err" />
						</h:panelGroup>

						<!-- Hobbies -->
						<h:outputLabel value="Hobbies" />
						<h:panelGroup styleClass="input-group" layout="block">
							<h:inputText id="hobbies" value="#{settingsBean.user.hobbies}"
								valueChangeListener="#{settingsBean.hobbiesChanged}"
								styleClass="fill sized" maxlength="500">
								<f:validator for="hobbies" validatorId="com.HobbiesValidator" />
							</h:inputText>
							<h:message for="hobbies" styleClass="err" />
						</h:panelGroup>

						<!-- About -->
						<h:outputLabel value="About" />
						<h:panelGroup styleClass="input-group" layout="block">
							<h:inputTextarea id="about" value="#{settingsBean.user.about}"
								valueChangeListener="#{settingsBean.aboutChanged}"
								styleClass="fill sized">
								<f:validator for="about" validatorId="com.AboutValidator" />
							</h:inputTextarea>
							<h:message for="about" styleClass="err" />
						</h:panelGroup>
						
						<h:panelGroup layout="block" style="height: 10px;" />
						<h:column />

						<!-- Privacy -->
						<h:outputLabel value="Privacy" />
						<h:panelGroup layout="block">
							<!-- Share Name -->
							<h:panelGroup layout="block">
								<h:selectBooleanCheckbox value="#{settingsBean.user.share_name}"
									valueChangeListener="#{settingsBean.shareNameChanged}" />
								I allow my Full Name to be visible by everyone.
							</h:panelGroup>
							<!-- Share Address -->
							<h:panelGroup layout="block" styleClass="clear">
								<h:selectBooleanCheckbox
									value="#{settingsBean.user.share_address}"
									valueChangeListener="#{settingsBean.shareAddressChanged}" />
								I allow my Address to be visible by everyone.
							</h:panelGroup>
						</h:panelGroup>
						
						<h:panelGroup layout="block" style="height: 10px;" />
						<h:column />
							
							
						<h:column />
						<h:link outcome="changePass">Change password
						</h:link>

						<!-- Submit -->
						<h:column />
						<h:commandButton value="Submit" action="#{settingsBean.update}"
							styleClass="fill" />

						<h:column />
						<h:outputText value="* Required fields" style="color:red"
							styleClass="t-small-3" />
					</h:panelGrid>
				</h:form>
			</div>
		</ui:define>
	</ui:composition>
</h:body>
</html>