/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,button,input,select,textarea {
	color: #222;
}

html {
	font-size: 1em;
	line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
audio,canvas,img,video {
	vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
	resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */
.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body,html {
	background-color: #f9f9f9;
	color: #555658;
	height: 100%;
}

body {
	min-height: 100%;
}

a,a:visited {
	color: #2980b9;
}

a:hover {
	color: #3498db;
	text-decoration: none;
}

ul,li {
	padding: 0;
	margin: 0;
}

ul.no-style,ul.no-style li {
	list-style: none;
}

/*
* Support classes
*/
.center {
	float: none !important;
	margin: 0 auto;
}

.inline {
	display: inline-block !important;
}

.clear {
	clear: both;
}

.fl-left {
	float: left !important;
}

.fl-right {
	float: right !important;
}

.fl-none {
	float: none !important;
}

.t-small-1 {
	font-size: 0.9em;
}

.t-small-2 {
	font-size: 0.8em;
}

.t-small-3 {
	font-size: 0.7em;
}

.t-center {
	text-align: center;
}

.fill {
	width: 100%;
}

.sized {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.line-through {
	background: url("#{resource['images/line-through.jpg']}") center left
		repeat-x;
}

.line-through span {
	background: #ffffff;
	height: 100%;
	line-height: 100%;
	padding: 0 10px;
	font-family: serif;
	font-style: italic;
	font-weight: lighter;
}

.normal {
	font-weight: normal;
}

h1.no-btm-m,h2.no-btm-m,h3.no-btm-m {
	margin-bottom: 0px;
}

h1.no-top-m,h2.no-top-m,h3.no-top-m {
	margin-top: 0px;
}

/*
* MAIN BODY
*/
#main-body {
	background: #ffffff;
	-webkit-box-shadow: 0 0 5px 0 #e2e2e2;
	box-shadow: 0 0 5px 0 #e2e2e2;
}

#copyright {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 0.8em;
	color: #cccccc;
}

/*
* HEADER
*/
#header {
	color: #446CB3;
	font-size: 3em;
}

#header-img {
	width: 100%;
	height: auto;
}

/*
* NAVIGATION
*/
#nav {
	background-color: #49CBCD;
}

#nav ul,#nav li {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#nav li {
	float: left;
	display: inline-block;
}

#nav li a,#nav li a:visited {
	padding: 20px;
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
	display: block;
}

#nav li a:hover,#nav li a.active {
	background: #42b6b8;
}

/*
* CONTENT
*/
#content {
	padding: 20px;
}

#login {
	float: none !important;
	margin: 0 auto;
}

[class*='btn-'] {
	display: block;
	width: auto;
	-webkit-border-radius: 3;
	-moz-border-radius: 3;
	border-radius: 3px;
	font-family: Arial;
	color: #ffffff !important;
	font-size: 1.2em;
	white-space: nowrap;
	padding: 15px 10px;
	text-align: center;
	text-decoration: none;
	border: none;
}

.btn-color,.btn-color:visited {
	background: #49CBCD;
}

.btn-color:hover,.btn-color:active {
	background: #296e6f;
}

.btn-grey,.btn-grey:visited {
	background: #788492;
}

.btn-grey:hover,.btn-grey:active {
	background: #49CBCD;
}

a.link-arrow-left {
	background: #E5E5E5;
	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
	font-family: Arial;
	color: #2e2e2e;
	font-size: 0.8em;
	padding: 0 7px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	text-decoration: none;
	border: none;
	display: block;
	position: relative;
}

a.link-arrow-left:after {
	position: absolute;
	left: auto;
	right: 100%;
	top: 50%;
	width: 0px;
	height: 0px;
	margin-top: -13px;
	content: " ";
	border-style: solid;
	border-width: 13px 13px 13px 0;
	border-color: transparent #E5E5E5 transparent transparent;
}

a.link-arrow-left:hover {
	color: #ffffff;
	background: #2e2e2e;
}

a.link-arrow-left:hover:after {
	border-color: transparent #2e2e2e transparent transparent;
}

.notice {
	float: left;
	width: 100%;
	margin-bottom: 20px;
	padding: 10px 0;
	text-align: center;
	color: #ffffff;
	background: #555658;
	display: block;
}

/*
* FORM ELEMENTS
*/
form {
	display: block;
}

input,select,textarea {
	background-color: #ffffff;
	border: 1px solid #555658;
	-webkit-border-radius: 3;
	-moz-border-radius: 3;
	border-radius: 3px;
	padding: 0 3px;
	outline: none;
}

input[type="text"],input[type="password"],select {
	height: 30px;
	line-height: 30px;
	-webkit-box-shadow: inset 1px 2px 2px 0 #f1f1f1;
	box-shadow: inset 1px 2px 2px 0 #f1f1f1;
}

input[type="text"]:focus,input[type="password"]:focus,select:focus {
	border-color: #49CBCD;
}

input[type="button"],input[type="submit"] {
	background: #49CBCD;
	-webkit-border-radius: 3;
	-moz-border-radius: 3;
	border-radius: 3px;
	font-family: Arial;
	color: #ffffff;
	font-size: 1.2em;
	padding: 15px 10px;
	text-align: center;
	text-decoration: none;
	border: none;
	display: block;
}

input[type="button"].small,input[type="submit"].small {
	font-size: 0.8em;
	padding: 6px 10px;
}

input[type="button"]:hover,input[type="submit"]:hover,input[type="button"]:active,input[type="submit"]:active
	{
	background: #296e6f;
	text-decoration: none;
}

label {
	font-size: 1.2em;
}

form table tr>td:first-of-type {
	width: 1%;
	white-space: nowrap;
	padding-right: 10px;
}

.input-group {
	position: relative;
}

.input-group>.err {
	position: absolute;
	top: 3px;
	left: 100%;
	height: 24px;
	line-height: 22px;
	display: block;
	color: #D8000C;
	background-color: #FFBABA;
	border: 1px solid #D8000C;
	padding: 0 5px;
	font-size: 0.8em;
	white-space: nowrap;
	display: block;
}

.input-group>.info {
	position: absolute;
	top: 3px;
	left: 101%;
	display: block;
	color: #00529B;
	background-color: #BDE5F8;
	border: 1px solid #00529B;
	padding: 0 5px;
	white-space: nowrap;
	display: none;
}

/*
* TABLES
*/
table.simple {
	border-collapse: collapse;
}

table.simple thead {
	background: #485460;
	border: 1px solid #485460;
	color: #ffffff;
}

table.simple thead th {
	padding: 5px;
}

table.simple tbody {
	background: #ffffff;
	border: 1px solid #ececec;
}

table.simple tbody td {
	font-size: 0.9em;
	padding: 5px;
	border-right: 1px solid #f1f1f1;
	border-top: 1px solid #ececec;
	border-bottom: 1px solid #ececec;
}

table.simple tbody tr:hover td {
	background: #fcfcfc;
}

table.simple tbody tr>td:last-of-type {
	border-right: none;
}

table .tight {
	width: 1%;
	white-space: nowrap;
}

/*
* MESSAGES
*/
.messages {
	margin-top: 10px;
	padding: 10px;
	border-top: 1px solid #e2e2e2;
	border-bottom: 1px solid #e2e2e2;
	list-style: none;
}

.messages li {
	clear: left;
	float: left;
	width: 100%;
	text-align: center;
	list-style: none;
}

.messages .error {
	color: #D8000C;
}

.messages .warning {
	color: #00529B;
}

.messages .info {
	color: #00529B;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */
.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
	/* IE 6/7 fallback */
	*text-indent: -9999px;
}

.ir:before {
	content: "";
	display: block;
	width: 0;
	height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
	display: none !important;
	visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
	visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.clearfix:after {
	clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
	*zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
	/* Style adjustments for viewports that meet the condition */
}

@media print , ( -o-min-device-pixel-ratio : 5/4) , (
		-webkit-min-device-pixel-ratio : 1.25) , ( min-resolution : 120dpi) {
	/* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
	* {
		background: transparent !important;
		color: #000 !important; /* Black prints faster: h5bp.com/s */
		box-shadow: none !important;
		text-shadow: none !important;
	}
	a,a:visited {
		text-decoration: underline;
	}
	a[href]:after {
		content: " (" attr(href) ")";
	}
	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	/*
     * Don't show links for images, or javascript/internal links
     */
	.ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after {
		content: "";
	}
	pre,blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}
	thead {
		display: table-header-group; /* h5bp.com/t */
	}
	tr,img {
		page-break-inside: avoid;
	}
	img {
		max-width: 100% !important;
	}
	@page {
		margin: 0.5cm;
	}
	p,h2,h3 {
		orphans: 3;
		widows: 3;
	}
	h2,h3 {
		page-break-after: avoid;
	}
}